@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nova Square";
    color: white;
}

body {
    background-color: rgb(0, 0, 0);
}

.game-container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.button {
    background-color: black;
    border: .3em solid white;
    color: white;
    font-size: 1em;
    padding: .2em;
}

#game-canvas {
    border: .2em dashed white;
}

.game-overlay-active {
    width: 200px;
    height: 200px;
    border: .25em solid white;
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-overlay-active h1 {
    font-size: 2em;
    text-align: center;
}

.hidden {
    display: none !important;
}