@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nova Square";
    color: white;
}

body {
    background-color: rgb(0, 0, 0);
}

/* body::after {
    content: "";
    background: url(space-background.jpeg);
    opacity: 0.3    ;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  } */

.game-container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.button {
    background-color: black;
    border: .3em solid white;
    color: white;
    font-size: 1em;
    padding: .2em;
    cursor: pointer;
}

#game-canvas {
    border: .2em dashed white;
}

.start-game-btn {
    width: 350px;
    height: 200px;
    border: .25em solid white;
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.game-overlay-active {
    width: 200px;
    height: 200px;
    border: .25em solid white;
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-overlay-active h1 {
    font-size: 2em;
    text-align: center;
}

.hidden {
    display: none !important;
}

.audio-controls {
    position: fixed;
    padding: 2em;
    display: flex;
    gap: 3em;
}

.audio-control-btn {
    cursor: pointer;
}

.audio-control-btn {
    background-color: black;
    border: none;
}