@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Nova+Square&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: rgb(32, 31, 31);
    --off-black-color: rgb(20,20,20);
    --daily-change-red: rgb(255, 53, 53);
    --daily-change-green: rgb(0, 199, 0);
    --gray-btn: rgb(95, 93, 93);
}

body {
    font-family: "Inconsolata", sans-serif;
    color: white;
    background-color: var(--main-bg-color);
}

.symbol-form-wrapper {
    width: 90%;
    padding: 1.5em;
    margin-bottom: 2rem;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 1.5em;
    border-bottom: 2px solid var(--gray-btn);
}

.symbol-form-container {
    display: flex;
    gap: 1em;
    align-items: center;
}

.symbol-form-container > input, select, button {
    font-size: .7em ;
    border: none;
    background-color: transparent;
    padding: .5em;
    outline: none;
    color: white;
}

.symbol-form-container > input {
    border-bottom: 1px solid white;
    padding: .2em;
}

.symbol-form-container > button {
    background:var(--gray-btn);
    cursor: pointer;
}

.submit-new-symbol:hover {
    opacity: .9;
}

#reloadBtn {
    cursor: pointer;
    font-size: .8em;
}

.reload-and-select-wrapper {
    display: flex;
    align-items: center;
    gap: 1em;
    position: relative;
}

.dropdown-edit-list {
    min-width: 50%;
    background: var(--gray-btn);
    padding: 1em .5em;
    position: absolute;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    top: 2.5em;
    left: 25%;
    font-size: .8em;
    transition: opacity 250ms ease;
}

.dropdown-edit-list.active {
    opacity: 1;
    pointer-events: auto;
}

.edit-lists-btn {
    background: var(--gray-btn);
    padding: .2em .7em;
    font-size: .7em;
    cursor: pointer;
}

.edit-lists-btn:hover {
    opacity: .9;
}

.edit-lists-btn.active {
    background: var(--gray-btn);
    opacity: 0.7;
}

.dropdown-edit-list-item {
    display: flex;
    justify-content: space-between;
}

.dropdown-edit-list-item button {
    cursor: pointer;
}

.add-new-list-btn {
    background: var(--gray-btn);
    padding: .2em .7em;
    font-size: .7em;
    cursor: pointer;
}

.add-new-list-btn:hover {
    opacity: .9;
}

.add-new-list-btn.active {
    background: var(--gray-btn);
    opacity: 0.7;
}

.dropdown-form.active {
    opacity: 1;
    pointer-events: auto;
}

.dropdown-form {
    position: absolute;
    left: 58%;
    top: calc(100% + .5em);
    background: var(--gray-btn);
    padding: 1.5em .5em .5em .5em;
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease;
}

.dropdown-form input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    line-height: 1em;
    color: white;
    font-size: .6em;
}

.dropdown-form input::placeholder {
    color: rgba(255,255,255, 0.35);
}

.add-new-list-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.add-list-item-btn {
    width: 50%;
    background: var(--gray-btn);
    border: 2px solid rgb(165, 165, 165);
    font-size: .6em;
    padding: .2em;
    box-shadow: 0px 0px 3px rgb(179, 255, 205);
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.main-list-container {
    padding: 2em 0;
    width: 90%;
    margin: 0 auto;
}

.empty-list {
    top: 2em;
    text-align: center;
    position: relative;
    left: calc(50% - 34ch)
}

.main-list-table {
    width: 100%;
}

.sorting-btn {
    background-color: transparent;
    border: none;
    color: white;
    padding-left: .8em
}

.main-list-table-header-row {
    line-height: 4em;
}

.main-table-body > tr {
    text-align: center;
    line-height: 2em;
}

.main-table-body tr td {
    padding: .2em 0;
}

.green {
    color: var(--daily-change-green);
    text-shadow: 0 0 2px green;
}

.red {
    color: var(--daily-change-red);
    text-shadow: 0 0 3px rgb(255, 125, 125);
}

.delete-table-item {
    padding: 0 .5em;
    cursor: pointer;
}

.white {
    color: white;
    background-color: black;
}

.chart-btn {
    width: 100px;
    cursor: pointer;
}

.chart-table-btn {
    width:fit-content;
    height: fit-content;
    padding: .1em;
}

.tradingview-chart-container {
    width: 80vw;
}

tr:nth-child(2n+2) {
    background-color: var(--off-black-color);
}

.reload-container {
    font-size: 20px;
    display: flex;
    align-items: center;
}

